<h1>Scrabbler!</h1>

<form action='/scrabbler' method='get'>
    <div class="form-group">
        <label for="scrabbler">Insert word</label>
        <input id="scrabbler" name="scrabbler" class="form-control" type="text">
    </div>

    <button type="submit" class="btn btn-info">How many points is this word worth?</button>
</form>
